.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.column {
  flex: 1;
  max-width: 33.33%;
  padding: 20px;
  /* CAMBIOS APLICADOS AQUÍ */
  background-color: #000; /* Fondo negro */
  border: 5px solid #fff; /* Borde blanco de 5px */
  border-radius: 8px; /* Borde redondeado */
  text-align: center;
}

.service-block h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  /* Color del texto del título para que contraste con el fondo negro */
  color: #fff; 
}

.service-block p {
  font-size: 1rem;
  /* Color del texto de la descripción para que contraste con el fondo negro */
  color: #ccc;
}

.service-block .price {
  font-size: 1.8rem;
  font-weight: bold;
  /* Color del texto del precio para que contraste con el fondo negro */
  color: #fff;
  margin-top: 20px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .column {
    max-width: 100%;
  }
}